

/* home page */
.navbar {
  background-color: #545454;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 7;
}

.search-btn{
margin-top: 5px;
}

.search-bar-text{
margin-top:  5px;
margin-right: 10px;
}

.home-row {
  padding-top: 55px;
  text-align: center;
}

.title-image {
  width: 100%;
  position: fixed;
  bottom: 25%;
  z-index: -2;
}

.title {
  margin: 100px 0;
  padding: 0;
}

.title-name {
  background-color: #8c52ff;
}

.model {
  width: 8rem;
  position: absolute;
  z-index: 3;
  left: 200px;
  bottom: 10px;
}

.logo {
  width: 10rem;
  border-radius: 100%;
  margin: 30px;
}

.name {
  color: white;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}

.sm-heading {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 4px;
}
/* base */

.base{
  background-color: white;
  padding: 0;
}

/* intro */
.intro {
  text-align: center;
  font-family: 'Dancing script';
  background-color: white;
}

.intro-text {
  font-size: 2rem;
  margin: 3rem;
}

.intro-img-pen {
  width: 10rem;
  position: absolute;
  right: 80px;
  z-index: 5;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  width: 7rem;
}

/* carousel */
#carousel{
  padding: 0;
margin: 3% 0;
}

.carousel-bg {
  width: 100%;
}

.carousel {
  padding: 0;
}

.carousel-inner {
  padding: 0;
}

.carousel-text-box{
  color: white;
}

.carousel-text{
  padding: 0 9%;
}


.carousel-heading{
  font-family: 'Montserrat';
}

.shayari{
   font-family: 'Indie Flower';
}

.quote{
   font-family: 'Indie Flower';
}

/* catagories */
#catagories{
  margin:4rem 1.3rem 7rem;
}
 .cat-head{
   font-family: 'Amatic SC';
   font-size: 3rem;
   padding: 3rem;
   font-weight: bold;
   color:  #545454;
 }

.btn{
  padding: 1rem 7rem;
  margin: 2px;
  border: none;
  font-family: 'Montserrat';
}

/* content */
#daily-feeds{
  background-color:  #8c52ff;
}
.feeds{
  padding: 1.5rem;
  margin: 0;
}
.content-box{
  padding: 0;
}
.content-img{
  width: 100%;
  padding: 3px;
}

.long{
  height: 500px;
}
.short{
  height: 350px;
}
.content-img:hover{
  opacity: 0.5;
}

.top-head{
  font-family: 'Amatic SC';
  font-size: 3rem;
  padding: 3rem;
  color: white;
  font-weight: bold;
}

/* feature */
#feature{
  padding: 4rem 2rem;
}
.file-btn{
  padding: 1rem 30rem;
}

/* contact us */

#contact{
  background-color: #f0f0f0;
  margin: 0;
  padding: 1rem;
}
.contact-icon{
  font-size: 2rem;
  padding: 2rem 2rem;
  color: #888888;
}



/* media section */
@media (max-width: 956px) {
  .title-image {
    height: 450px;
    bottom: 36%;
    z-index: -1;
  }

  .title {
    margin: 50px 0;
  }

  .name {
    padding: 2px;
    font-size: 3rem;
  }

  .model {
    width: 0;
  }

  .intro-img-pen {
    width: 7rem;
    right: 50px;
  }

  #carousel {
    padding: 3% 0;
    margin: 3rem 0;
    background-color: #8c52ff;
  }

  .carousel-bg {
    width: 0;
  }

  .carousel {
    padding: 0;
    height: 15rem;
  }

  .carousel-inner {
    padding: 0;
  }

  .btn{
    padding: 2.1rem;
  }

  .feeds{
    padding: 1rem;
  }

  .long{
    height: 350px;
  }
  .short{
    height: 250px;
  }

}

@media (min-width: 956px) {
  .carousel-text-box{
    display: none;
  }
}
